
@import "./themes/dark.scss";

* {
  all: unset;
}

window {
  background: $background;
}

.bar {
  font-family: "Hack Regular";
  font-size: 1em;
  margin: 0 10px;
  padding: 6px;
}

.error {
	color: $error;
}
.warning {
	color: $warning;
}
.ok {
    color: $ok;
}
.good {
	color: #44cc22;
}
.faint {
	color: $faint;
}
button:hover label {
	color: $highlight;
}

@import "./widgets/recess/style.scss";
@import "./widgets/metric/style.scss";
@import "./widgets/icon/style.scss";
@import "./widgets/workspaces/style.scss";
@import "./widgets/player/style.scss";
@import "./widgets/docker/style.scss";

