
label.docker_summary {
	color: #0db7ed;
	font-size:1.6em; /* docker icon is tiny for some reason */
}

.docker_controls {
	padding-left: 20px;
	padding-right:10px;
}

.docker_controls button {
	padding-right: 5px;
}
