
// progress bar backgrounds etc.
$faint: #777777;

// deselected buttons etc.
$dim: #aaaaaa;

$background: #0f0f0f;
$inset: #0f0f0f;

// selected items, hovers
$highlight: #ffffff;

// default foreground colour
$foreground: #aaaaaa;

$error: #ff6565;
$warning: #e6c446;
$ok: #61afef;

$icon: #ffffff;
$shadow: #000000;

